.css-hyum1k-MuiToolbar-root{
    background-color: rgba(7, 185, 46, 0.899) !important;
}
.css-1uwgr7b-MuiTypography-root , .css-1juivf6-MuiTypography-root{
    font-weight: 800 !important;
    font-size:  25px !important;
}
.css-ahj2mt-MuiTypography-root{
    font-weight: 800 !important;

}
.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
}