.css-hyum1k-MuiToolbar-root{
    background-color: #07b92ee5 !important;
}
/* #07b92ee5 */
.css-1uwgr7b-MuiTypography-root , .css-1juivf6-MuiTypography-root , .heading{
    font-weight: 800 !important;
    font-size:  25px !important;
    font-family: "Ysabeau SC", sans-serif !important;
}
.css-ahj2mt-MuiTypography-root{
    font-weight: 800 !important;
    
}
.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
     font-family: "Ysabeau SC", sans-serif !important;
    font-optical-sizing: auto !important; 
}

