/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* .registration{
    background-color: rgb(43, 207, 249) ;
} */
.sameLine{
    display : flex;
    flex-direction: row;
}
#form > label , p{
  font-family: "Poppins", cursive;
  margin: 0px 28px;
  margin-top:10px;

}
.a {
  font-family: "Poppins", cursive;
  margin: 110px 55px;
  margin-top:10px;
  font-weight: 600;
  font-size: 20px;
}
.ab {
  font-family: "Poppins", cursive;
 
}

.register{
  max-width: 900px;
  max-height: 850px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: white;
}

.register p {
  color: #e4652e;
}


 #form>input {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
}

#form>input:focus {
  outline: none;
}

.ride{
  border: none;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;

}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width:auto;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/public/images/login2.jpg");
   background-size: cover; 
   /* background-color: white;  */
}

.form{
   width:300px; 
   display: flex;
  flex-direction:column;
}

.btn1 {
  margin-left: 144px;
    margin-top: 34px;
    height: 30px;
    width: 66px;
    border: none;
    border-radius: 7px;
}

#form > input{
  border-color: white;;
  border-bottom: 2px solid #ff0000;
  width: 309px;
  margin-left:28px;
  background-color: white;
}

.registration{
  background-color: white;
  border-radius: 10px;
}