@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ysabeau+SC:wght@1..1000&display=swap');
*{
  font-family: "Ysabeau SC", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
}
