@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Josefin+Sans:ital,wght@1,300&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Ysabeau+SC:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500;900&family=Titillium+Web:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:wght@800&family=Roboto:wght@500;900&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Josefin+Sans:ital,wght@1,300&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Poppins&family=Ysabeau+SC:wght@800&display=swap');
*{
  
  /* font-family: "Ysabeau SC", sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
  margin: 0px;
  padding: 0px;
  /* font-weight: 800 !important; */
    /* font-size:  25px !important;  */
} 

/* #form>input{
  font-family: 'Montserrat', sans-serif !important;

} */

